// fonts
$font-stack: Helvetica, sans-serif;
$sequence-font-stack: monospace;


// colours
$black: #1E182B;
$dark-grey: #443F4F;
$light-translucent: rgba(102,52,11,0.07);
$mute-grey: #D9D9D9;
$grey: #EBEBEB;
$strong-purple: #340C4B;
$text-default: #706A7D;
$light-purple: #CEC9D8;

// input colours
$FV: #3CD8C5;
$FG: #1A8A6E;
$RV: #B276C7;
$RG: #732ECF;
