/*
@font-face {
  font-family: 'CourierPrimeCode'; 
  src: url('./CourierPrimeCode.ttf');
}
*/
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.fullheight {
  height: 100%;
}
.primer-form {
  
}
.primer-form input[type="text"] {
  font-family: monospace;
}
@keyframes shake {
  0%, 100% {
    left: -1px;
  }
  50% {
    left: 1px;
  }
}
.glow {
  /*
  animation-name: shake;
  animation-duration: 0.1s;
  animation-iteration-count: infinite;
  */
  box-shadow: 0 0 2px red;
  border: none;
  font-weight: bold;
}


/* PRIMER PREVIEW */
[class^='primer-preview'] {
  white-space: pre-wrap;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.RV {
  color: pink;
}
.RG {
  color: purple;
}
.FV {
  color: turquoise;
}
.FG {
  color: blue;
}
.primer-preview-reverse.active {
  animation: preview-swivel 5s ease;
  animation-fill-mode: forwards;
  font-smoothing: antialiased !important;
}
.primer-preview-reverse.active span.l {
  animation: preview-swivel-inner 5s ease;
  animation-fill-mode: forwards;
  display: inline-block;
}
@keyframes preview-swivel {
  50% { transform: rotateY(180deg); }
  100% { transform: rotateY(180deg); }
}
@keyframes preview-swivel-inner {
  50% { transform: none; }
  80%, 100% { transform: rotateY(180deg); };
}

.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 20px;
  margin-bottom: 20px;
  background: linear-gradient(top, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Chrome10-25,Safari5.1-6 */
}
.Nav .Logo {
  letter-spacing: -2px;
  font-size: 0.8rem;
  font-weight: bolder;
  color: white;
}


.sequence {
  font-family: monospace;
  white-space: pre-wrap;
  line-height: 1;
}
.sequence span {
  display: inline;
}
.haystack {
  user-select: none;
  position: relative;
  overflow: hidden;

}
.haystack .forward, .haystack .reverse {
  transition: top 0.7s ease-out;
}
.haystack .forward {
  position: relative;
  top: 0;
}
.haystack-with-URG .forward {
  top: -1rem; /* move it up by a line, gives room for URG */ 
}
.haystack .reverse {
  position: absolute;
  top: 1rem; /* OFFSET to prevent overlaps between reverse and forward */
}
.haystack-with-UFG .reverse {
  top: 2rem; /* move it up by a line, gives room for URG */
}




.multiline {
  position: relative;
}
.multiline .sequence {
  word-break: break-all;
  line-height: 10;
}
.multiline .sequence .user-sequence {
  position: absolute;
}
.forward .multiline .user-sequence {
  top: 0.7rem; /* Place just underneath the reference sequence */
}
.reverse .multiline .user-sequence {
  top: -0.7rem;
}
.user-sequence [class^="offset"] {
  z-index: 5; /* So the offset is on top of the background arrows */
}
.multiline .sequence [class^="offset"] {
  word-break: keep-all;
}
.multiline .codons {
  z-index: -1;
  position: absolute;
  top: 0.7rem;
  animation: fade-in 1s;
  opacity: 0.4;
}
@keyframes fade-in {
  from { opacity: 0 }
  to { opacity: 0.4 }
}
.multiline .codons .codon {
  position: absolute;
}
.multiline .codons .codon:nth-of-type(2) {
  top: 0.6rem;
}
.multiline .codons .codon:nth-of-type(3) {
  top: 1.2rem;
}



.leading, .trailing, .unimportant {
  opacity: 0.45;
}
.offset-left, .offset-right {
  position: relative;
  z-index: -9;
}
[class^="offset"] > span {
  position: absolute;
}
.offset-left > span {
  right: 0;
}
.offset-right > span {
  left: 0;
}
.end {
  color: #000000;
}

.position-helper {
  cursor: default;
  position: absolute;
  top: 0;
  z-index: -5;
  overflow: visible;
}
.position-helper > span {
  margin-left: -1px;
  border-left: 1px solid rgba(0,0,0,0.03);
  position: relative;
  display: inline-block;
}
.position-helper span span {
  font-size: 0.6rem;
  letter-spacing: -2px;
  color: lightblue;
  position: absolute;
}
.position-helper.fullheight > span {
  height: 100%;
}
/*
.position-helper span:hover {
  border-left-width: 3px;
  margin-left: -3px;
  background: rgba(0,0,0,0.02);
}
.position-helper span:hover span {
  font-size: 1rem;
  margin-top: -0.7rem;
}
*/


.helpers {
  position: relative;
}
.helpers .helper {
  cursor: default;
}
.helpers .helper:not(:first-of-type) {
  position: absolute;
  top: 0;
  left: 0;
}


.vector, .haystack {
  position: relative;
}




.hl {
  background: #DDDDDD;
}


.multiple-matches {
  position: relative;
}
.multiple-matches .multiple-match:not(:first-of-type) {
  position: absolute;
  left: 0;
}
.multiple-match .match {
  background: red;
  color: white;
  border-radius: 2px;
}

.mismatch { 
  color: red;  
}

.evaluations {
  font-size: 0.6rem;
}

.matches-enter {
  opacity: 0.1;
  top: -10px;
}
.matches-enter-active {
  transition: all 500ms ease-in;
  top: 0;
  opacity: 1;
}
.matches-leave {
  opacity: 1;
}
.matches-leave-active {
  transition: all 300ms ease-in;
  top: 0;
  opacity: 0.1;
  top: -10px;
}


.pd-modal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.toggle-wrapper {
  display: flex;
  justify-content: space-between;
}
.toggle-input {
  display: none;
}
.toggle-btn {
  position: relative;
  box-sizing: content-box;
  height: 20px;
  width: 40px;
  padding: 2px;
  background: #fbfbfb;
  border: 1px solid #d4d4d4;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.13s ease-in-out;
  outline: none;
}
.toggle-btn::before {
  content: '';
  display: block;
  position: relative;
  width: 50%;
  height: 100%;
  background: #fbfbfb;
  border-radius: 100%;
  left: 0;
  box-shadow: 0 3px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.2);
  transition: all 0.1s 0.1s ease-in-out;
}
.toggle-btn:focus::before {
  box-shadow: 0 3px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.4);
}
.toggle-btn-on {
  background: lightgreen;
  transition: background 0.13s 0.05s ease-in-out;
}
.toggle-btn, .toggle-btn:focus {
  outline: none;
}
.toggle-btn-on::before {
  left: 50%;
  transition: all 0.1s ease-in;  
}
.toggle-btn-off {

}
.toggle-is-on {

}
.toggle-is-on .toggle-off, .toggle-is-off .toggle-on {
  display: none;
}

/* Additional */
.forward-arrow, .reverse-arrow {
  padding: 25px; 
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 120px;
  margin-left: -25px;
  margin-right: -25px;
  z-index: -15;
  position: relative;
}
.forward-arrow {
  background-image: url('./images/forward-arrow.png');
  background-position: center right;
}
.reverse-arrow {
  background-image: url('./images/reverse-arrow.png');
  background-position: center left;
}


/* MODAL */
.ReactModal__Overlay {
  z-index: 10;
}

/* Evaluation animations */

.evaluation-list {
  list-style: none;
  padding: 0;
}
.evaluation-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; 
}
.evaluation-item:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; 
}
.evaluation-item {
  // transition: all 0.2s ease-in-out;
  position: relative;
  background: lightgray;
  padding: 10px;
}
.evaluation-item:nth-of-type(2) {
  opacity: 0.8;
}
.evaluation-item:nth-of-type(3) {
  opacity: 0.6;
}
.evaluation-item:nth-of-type(4)  {
  opacity: 0.45;
}
.evaluation-item.failure {
  background: #e29c9c;
}
.evaluation-item.success {
  height: 4.3rem;
  background: #b4e8c9;
}
.evaluation-item-enter {
  position: relative;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}
/*
.evaluation-item-leave {
  opacity: 1;
  height: 0;
}
.evaluation-item-leave.evaluation-item-leave-active {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  height: 0;
}
*/


/* FINAL displays */
.Final-Hover-Note {
  background: darkcyan;
  color: white;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}
.Final-Clone {
  position: relative;
  z-index: 2;
}
.Final-Clone-Seq-Chunk {
  cursor: pointer;
}
.Final-Clone-Seq-Chunk:hover {
  background: #eeeeee;
}
.Final-Clone-Seq-Chunk:nth-child(2n) {
  border-bottom: 1px dashed #666666;
  border-top: 1px dashed #666666;
}
.Final-Clone .forward {
  padding-top: 1rem;
}
.Final-Clone .multiline .sequence {
  line-height: 2rem;
  width: 100ch;
  letter-spacing: normal;
}
.Final-Clone .multiline .sequence span {
  display: inline;
}
.Final-Clone .position-helper {
  z-index: -1;
}
.Game .markers {
  position: absolute;
  top: -0.2rem;
  white-space: pre-wrap;
  z-index: -1;
  border-color: lightblue;
}
.Game .marker {
  position: relative;
  text-indent: -9999px;
  border-color: inherit;
}
.Game .marker::before, .Game .marker::after {
  content: '';
  display: block;
  height: 6px;
  width: 6px;
  position: absolute;
  top: 0.6rem;
  border: solid;
  border-color: inherit;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.Game .marker::before {
  left: -3px;
}
.Game .marker::after {
  right: -3px;
}


/* MODALS */



/* Admin Exercise Form */
.Admin-Exercise-Form {
  font-family: monospace;
}
.Admin-Exercise-Form input, .Admin-Exercise-Form textarea {
  font-size: 0.8rem;
  letter-spacing: 1px;
}
.Admin-Exercise-Form .vector-input, .Admin-Exercise-Form .haystack-input {
  height: auto;
  box-sizing: content-box;
}
.Admin-Exercise-Form .vector-input {
}
.Admin-Exercise-Form .haystack-input {
  width: 100ch;
}
.Admin-Markers {
  position: absolute;
  top: 0;
  z-index: 10;
  white-space: pre-wrap;
}
.Admin-Markers .admin-marker {
  position: absolute;
  left: 0;
}
.Admin-Markers .admin-marker:after {
  content: "";
  border-right: 1px solid red;
  height: 1ch;
}

.Admin-Vector-Markers {
  
}
.Admin-Vector-Markers .admin-marker {
  width: 100%;
  top: 0;
}
.editor-checkbox label { 
  padding-left: 10px;
}
.editor-error, .editor-warning {
  border-radius: 2px;
  padding: 3px;
}
.editor-error {
  background: red;
  color: white;
}
.editor-warning {
  background: orange;
}

.editor-helpers {

}
.editor-helpers li {
  margin-bottom: 10px;
}

.RESites-list {
  display: flex;
  list-style: none;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}
.RESites-list-item {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: 8px;
  border: 1px solid grey;
}
.RESites-list-item .name {
}
.RESites-list .preview {
  text-align: left;
  position: relative;
  margin-left: 15px;
}
.RESites-list .preview .marker {
  position: absolute;
  left: -1px;
  border-right: 1px dashed rgba(0,0,0,0.3);
}
.RESites-list .preview .cut-center {
  border-top: 1px dashed rgba(0,0,0,0.3);
  position: relative;
  top: 2px; /* Move slightly down to show cut */
}

.Admin-Haystack .multiline .sequence {
  line-height: 8;
}
.Admin-Vector {
  
}
.Admin-Vector .sequence {
  position: relative;
}
.Admin-Exercises-List {

}
.Admin-Exercises-List .ID {
  display: block;
  opacity: 0.6;
}